.filmcard__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
    max-width: 250px;
    margin-bottom: 20px;
    & .filmcard__poster{
        width: 250px;
        height: 350px;
        object-fit: cover;
        margin-bottom: 10px;
        border-radius: 30px;
    }
    & .filmcard__favimg{
        width: 30px;
        height: 30px;
    }
    & .filmcard__title{
        font-weight: 500;
        white-space: nowrap;
        line-height: 1.2;
        overflow: hidden;
        width: 80%;
        text-overflow: ellipsis;
        font-size: 20px;
        margin-bottom: 10px;
    }
    & .filmcard__year{
        font-weight: 500;
        white-space: nowrap;
        line-height: 1.2;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 20px;
        margin-bottom: 10px;
    }
}
@media (max-width: 700px){
    .filmcard__container{
        width: 600px;
        align-self: center;
        margin: 0 auto;
    }
}
    
